.catalog {
  margin: 20px auto;
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 58px;
  row-gap: 58px;
}

.catalogTitle {
  display: flex;
  width: 1440px;
  margin: 40px auto 20px;
  gap: 95px;
  align-items: center;
}
.catalogTitle a {
  width: 120px;
  height: 30.97px;
  padding: 6px;
  text-decoration: none;

  border: 2px solid #8b8b8b;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8b8b8b;
}
#title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
