.cartContainer {
  width: 1440px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 120px auto;
}
.title {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  width: 884px;
}
.title > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.title a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 130%;
  border-bottom: 1px solid #a7a7a7;
}
.backToTheStore {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 17px;
  margin: 0 0 34px;
}
.cartList {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 884px;
}
.orderDetails {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 496px;
  height: 393px;
  border: 2px solid #000000;
  border-radius: 21px;
  padding: 25px;
}
.orderDetails > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.total {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.totalSum {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}
.totalPrice small {
  font-size: 15px;
}
