.categoryItem a {
  text-decoration: none;
}
.categoryItem img {
  width: 318px;
  height: 350px;
  object-fit: cover;
}
.category p {
  margin: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
